In [2]:
import pandas as pd
import numpy as np

In [3]:
all_age = pd.read_csv('data/dati/all_age.csv')

In [4]:
all_age.describe()

,Major_code,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
count,173.000000,1.730000e+02,1.730000e+02,1.730000e+02,173.000000,173.000000,173.000000,173.000000,173.000000
mean,3879.815029,2.302566e+05,1.661620e+05,1.263078e+05,9725.034682,0.057355,56816.184971,38697.109827,82506.358382
std,1687.753140,4.220685e+05,3.073244e+05,2.424254e+05,18022.040192,0.019177,14706.226865,9414.524761,20805.330126
min,1100.000000,2.396000e+03,1.492000e+03,1.093000e+03,0.000000,0.000000,35000.000000,24900.000000,45800.000000
25%,2403.000000,2.428000e+04,1.728100e+04,1.272200e+04,1101.000000,0.046261,46000.000000,32000.000000,70000.000000
50%,3608.000000,7.579100e+04,5.656400e+04,3.961300e+04,3619.000000,0.054719,53000.000000,36000.000000,80000.000000
75%,5503.000000,2.057630e+05,1.428790e+05,1.110250e+05,8862.000000,0.069043,65000.000000,42000.000000,95000.000000
max,6403.000000,3.123510e+06,2.354398e+06,1.939384e+06,147261.000000,0.156147,125000.000000,78000.000000,210000.000000

In [5]:
all_age.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [6]:
for i in all_age.Major.unique():
    if i == i:
        print(str(i) + str(" ") + str(np.sum(all_age.Major == i)))
    else:
        print("NaN: " + str(np.sum(all_age.Major.isnull())))

GENERAL AGRICULTURE 1
AGRICULTURE PRODUCTION AND MANAGEMENT 1
AGRICULTURAL ECONOMICS 1
ANIMAL SCIENCES 1
FOOD SCIENCE 1
PLANT SCIENCE AND AGRONOMY 1
SOIL SCIENCE 1
MISCELLANEOUS AGRICULTURE 1
ENVIRONMENTAL SCIENCE 1
FORESTRY 1
NATURAL RESOURCES MANAGEMENT 1
ARCHITECTURE 1
AREA ETHNIC AND CIVILIZATION STUDIES 1
COMMUNICATIONS 1
JOURNALISM 1
MASS MEDIA 1
ADVERTISING AND PUBLIC RELATIONS 1
COMMUNICATION TECHNOLOGIES 1
COMPUTER AND INFORMATION SYSTEMS 1
COMPUTER PROGRAMMING AND DATA PROCESSING 1
COMPUTER SCIENCE 1
INFORMATION SCIENCES 1
COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY 1
COMPUTER NETWORKING AND TELECOMMUNICATIONS 1
COSMETOLOGY SERVICES AND CULINARY ARTS 1
GENERAL EDUCATION 1
EDUCATIONAL ADMINISTRATION AND SUPERVISION 1
SCHOOL STUDENT COUNSELING 1
ELEMENTARY EDUCATION 1
MATHEMATICS TEACHER EDUCATION 1
PHYSICAL AND HEALTH EDUCATION TEACHING 1
EARLY CHILDHOOD EDUCATION 1
SCIENCE AND COMPUTER TEACHER EDUCATION 1
SECONDARY TEACHER EDUCATION 1
SPECIAL NEEDS EDUCATION 1
SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION 1
TEACHER EDUCATION: MULTIPLE LEVELS 1
LANGUAGE AND DRAMA EDUCATION 1
ART AND MUSIC EDUCATION 1
MISCELLANEOUS EDUCATION 1
GENERAL ENGINEERING 1
AEROSPACE ENGINEERING 1
BIOLOGICAL ENGINEERING 1
ARCHITECTURAL ENGINEERING 1
BIOMEDICAL ENGINEERING 1
CHEMICAL ENGINEERING 1
CIVIL ENGINEERING 1
COMPUTER ENGINEERING 1
ELECTRICAL ENGINEERING 1
ENGINEERING MECHANICS PHYSICS AND SCIENCE 1
ENVIRONMENTAL ENGINEERING 1
GEOLOGICAL AND GEOPHYSICAL ENGINEERING 1
INDUSTRIAL AND MANUFACTURING ENGINEERING 1
MATERIALS ENGINEERING AND MATERIALS SCIENCE 1
MECHANICAL ENGINEERING 1
METALLURGICAL ENGINEERING 1
MINING AND MINERAL ENGINEERING 1
NAVAL ARCHITECTURE AND MARINE ENGINEERING 1
NUCLEAR ENGINEERING 1
PETROLEUM ENGINEERING 1
MISCELLANEOUS ENGINEERING 1
ENGINEERING TECHNOLOGIES 1
ENGINEERING AND INDUSTRIAL MANAGEMENT 1
ELECTRICAL ENGINEERING TECHNOLOGY 1
INDUSTRIAL PRODUCTION TECHNOLOGIES 1
MECHANICAL ENGINEERING RELATED TECHNOLOGIES 1
MISCELLANEOUS ENGINEERING TECHNOLOGIES 1
LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE 1
FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES 1
OTHER FOREIGN LANGUAGES 1
FAMILY AND CONSUMER SCIENCES 1
COURT REPORTING 1
PRE-LAW AND LEGAL STUDIES 1
ENGLISH LANGUAGE AND LITERATURE 1
COMPOSITION AND RHETORIC 1
LIBERAL ARTS 1
HUMANITIES 1
LIBRARY SCIENCE 1
BIOLOGY 1
BIOCHEMICAL SCIENCES 1
BOTANY 1
MOLECULAR BIOLOGY 1
ECOLOGY 1
GENETICS 1
MICROBIOLOGY 1
PHARMACOLOGY 1
PHYSIOLOGY 1
ZOOLOGY 1
NEUROSCIENCE 1
MISCELLANEOUS BIOLOGY 1
MATHEMATICS 1
APPLIED MATHEMATICS 1
STATISTICS AND DECISION SCIENCE 1
MILITARY TECHNOLOGIES 1
MULTI/INTERDISCIPLINARY STUDIES 1
INTERCULTURAL AND INTERNATIONAL STUDIES 1
NUTRITION SCIENCES 1
MATHEMATICS AND COMPUTER SCIENCE 1
COGNITIVE SCIENCE AND BIOPSYCHOLOGY 1
INTERDISCIPLINARY SOCIAL SCIENCES 1
PHYSICAL FITNESS PARKS RECREATION AND LEISURE 1
PHILOSOPHY AND RELIGIOUS STUDIES 1
THEOLOGY AND RELIGIOUS VOCATIONS 1
PHYSICAL SCIENCES 1
ASTRONOMY AND ASTROPHYSICS 1
ATMOSPHERIC SCIENCES AND METEOROLOGY 1
CHEMISTRY 1
GEOLOGY AND EARTH SCIENCE 1
GEOSCIENCES 1
OCEANOGRAPHY 1
PHYSICS 1
MATERIALS SCIENCE 1
MULTI-DISCIPLINARY OR GENERAL SCIENCE 1
NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL TECHNOLOGIES 1
PSYCHOLOGY 1
EDUCATIONAL PSYCHOLOGY 1
CLINICAL PSYCHOLOGY 1
COUNSELING PSYCHOLOGY 1
INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY 1
SOCIAL PSYCHOLOGY 1
MISCELLANEOUS PSYCHOLOGY 1
CRIMINAL JUSTICE AND FIRE PROTECTION 1
PUBLIC ADMINISTRATION 1
PUBLIC POLICY 1
HUMAN SERVICES AND COMMUNITY ORGANIZATION 1
SOCIAL WORK 1
GENERAL SOCIAL SCIENCES 1
ECONOMICS 1
ANTHROPOLOGY AND ARCHEOLOGY 1
CRIMINOLOGY 1
GEOGRAPHY 1
INTERNATIONAL RELATIONS 1
POLITICAL SCIENCE AND GOVERNMENT 1
SOCIOLOGY 1
MISCELLANEOUS SOCIAL SCIENCES 1
CONSTRUCTION SERVICES 1
ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLOGIES AND PRODUCTION 1
TRANSPORTATION SCIENCES AND TECHNOLOGIES 1
FINE ARTS 1
DRAMA AND THEATER ARTS 1
MUSIC 1
VISUAL AND PERFORMING ARTS 1
COMMERCIAL ART AND GRAPHIC DESIGN 1
FILM VIDEO AND PHOTOGRAPHIC ARTS 1
ART HISTORY AND CRITICISM 1
STUDIO ARTS 1
MISCELLANEOUS FINE ARTS 1
GENERAL MEDICAL AND HEALTH SERVICES 1
COMMUNICATION DISORDERS SCIENCES AND SERVICES 1
HEALTH AND MEDICAL ADMINISTRATIVE SERVICES 1
MEDICAL ASSISTING SERVICES 1
MEDICAL TECHNOLOGIES TECHNICIANS 1
HEALTH AND MEDICAL PREPARATORY PROGRAMS 1
NURSING 1
PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION 1
TREATMENT THERAPY PROFESSIONS 1
COMMUNITY AND PUBLIC HEALTH 1
MISCELLANEOUS HEALTH MEDICAL PROFESSIONS 1
GENERAL BUSINESS 1
ACCOUNTING 1
ACTUARIAL SCIENCE 1
BUSINESS MANAGEMENT AND ADMINISTRATION 1
OPERATIONS LOGISTICS AND E-COMMERCE 1
BUSINESS ECONOMICS 1
MARKETING AND MARKETING RESEARCH 1
FINANCE 1
HUMAN RESOURCES AND PERSONNEL MANAGEMENT 1
INTERNATIONAL BUSINESS 1
HOSPITALITY MANAGEMENT 1
MANAGEMENT INFORMATION SYSTEMS AND STATISTICS 1
MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION 1
HISTORY 1
UNITED STATES HISTORY 1