In [1]:
import pandas as pd
import numpy as np

In [2]:
graduated = pd.read_csv('data/dati/recent_grads.csv')

In [3]:
graduated.columns

Index([u'Rank', u'Major_code', u'Major', u'Major_category', u'Total',
       u'Sample_size', u'Men', u'Women', u'ShareWomen', u'Employed',
       u'Full_time', u'Part_time', u'Full_time_year_round', u'Unemployed',
       u'Unemployment_rate', u'Median', u'P25th', u'P75th', u'College_jobs',
       u'Non_college_jobs', u'Low_wage_jobs'],
      dtype='object')

In [4]:
a = graduated.groupby(['Rank','Major_code'])
b = a['Total'].mean()

In [6]:
b.head()

Rank  Major_code
1     2419           2339
2     2416            756
3     2415            856
4     2417           1258
5     2405          32260
Name: Total, dtype: int64

In [7]:
b.reset_index()

     Rank  Major_code   Total
0       1        2419    2339
1       2        2416     756
2       3        2415     856
3       4        2417    1258
4       5        2405   32260
5       6        2418    2573
6       7        6202    3777
7       8        5001    1792
8       9        2414   91227
9      10        2408   81527
10     11        2407   41542
11     12        2401   15058
12     13        2404   14955
13     14        5008    4279
14     15        2409    4321
15     16        2402    8925
16     17        2412   18968
17     18        2400   61152
18     19        2403    2825
19     20        3201    1148
20     21        2102  128319
21     22        1104    4361
22     23        2502   11565
23     24        2413    2993
24     25        6212   18713
25     26        2406   53153
26     27        5601   18498
27     28        6204   11732
28     29        2499    9133
29     30        5402    5978
..    ...         ...     ...
143   144        1105    7416
144   145        2308    6483
145   146        5200  393735
146   147        6002   60633
147   148        2306   28213
148   149        6006   21030
149   150        6000   74440
150   151        2901   58001
151   152        5404   53552
152   153        1103   21573
153   154        6003   16250
154   155        2312   14443
155   156        5299    9628
156   157        5403    9374
157   158        3402    6652
158   159        4901   30207
159   160        6007   16977
160   161        2201   10510
161   162        1199    1488
162   163        5502   38844
163   164        6102   38279
164   165        2307   37589
165   166        2603   11204
166   167        6001   43249
167   168        3302   18953
168   169        3609    8409
169   170        5201    2854
170   171        5202    2838
171   172        5203    4626
172   173        3501    1098

[173 rows x 3 columns]