# Preprocessing Categorical Variables

In [2]:
import pandas as pd
import numpy as np

In [3]:
titanic = pd.read_csv('data/dati/titanic3.csv')

In [4]:
titanic.columns

Index([u'pclass', u'survived', u'name', u'sex', u'age', u'sibsp', u'parch',
       u'ticket', u'fare', u'cabin', u'embarked', u'boat', u'body',
       u'home.dest'],
      dtype='object')

In [5]:
titanic.sex.head()

0    female
1      male
2    female
3      male
4    female
Name: sex, dtype: object

In [6]:
from sklearn import preprocessing
le_sex = preprocessing.LabelEncoder()

In [7]:
titanic.sex = le_sex.fit_transform(titanic.sex)

In [9]:
titanic.sex.head()

0    0
1    1
2    0
3    1
4    0
Name: sex, dtype: int64

In [10]:
titanic.sex = le_sex.inverse_transform(titanic.sex)

In [11]:
titanic.sex.head()

0    female
1      male
2    female
3      male
4    female
Name: sex, dtype: object