# Cross-Validation

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import datasets

In [55]:
glass_data = pd.read_csv('data/dati/glass.data.csv')

In [56]:
glass_data.head()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1

In [57]:
glass_data.drop('Id number', axis=1,inplace=True)
X = glass_data.drop('Type of glass', axis=1)
y = glass_data['Type of glass']
X.shape, y.shape
labels = y.unique() 
labels

array([1, 2, 3, 5, 6, 7])

In [58]:
extc = ExtraTreesClassifier()

In [59]:
cms = {}
scores   = []
cv = StratifiedKFold(y, n_folds=3)
enumerate(cv)

In [60]:
for i, (train, test) in enumerate(cv):
    # train then immediately predict the test set
    y_pred = extc.fit(X.loc[train], y.loc[train]).predict(X.loc[test])
    # compute the confusion matrix on each fold, convert it to a DataFrame and stash it for later compute
    cms[i] = pd.DataFrame(confusion_matrix(y[test], y_pred), columns=labels, index=labels)
    # stash the overall accuracy on the test set for the fold too
    scores.append(accuracy_score(y[test], y_pred))

# Panel of all test set confusion matrices
pl = pd.Panel(cms)
cm = pl.sum(axis=0) #Sum the confusion matrices to get one view of how well the classifiers perform
cm

    1   2  3  5  6   7
1  52  17  1  0  0   0
2  19  47  4  4  2   0
3  13   4  0  0  0   0
5   1   4  0  7  0   1
6   0   3  0  1  5   0
7   2   1  0  1  0  25

In [63]:
np.mean(scores)

0.63442438151562464