In [7]:
import pandas as pd
import numpy as np
from sklearn import metrics

In [8]:
df = pd.read_csv("glass.data.csv")

In [9]:
df.head()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1

In [10]:
df.drop("Id number",axis=1,inplace=True)

In [11]:
# Transform the data into an np array
dataAsNpArray = np.array(df)

mutualInformationScores = [0,0,0,0]
for feature in range(0,dataAsNpArray.shape[1] - 1) :
    mutualInformationScores[feature] = metrics.mutual_info_score(dataAsNpArray[:,feature], dataAsNpArray[:,-1])

# Let's check out the computed scores
print(mutualInformationScores)

# Number of features to select
toSelect = 2

# Sort the scores in descending order
indices = np.argsort(np.array(mutualInformationScores))[::-1]

# Let's check our results by printing the features we have selected
print(data.columns.values[indices[:toSelect]])

IndexError: list assignment index out of range