In [3]:
import pandas as pd
forest_fires = pd.read_csv("dati\\forestfires.csv")
forest_fires.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [4]:
import matplotlib.pyplot as plt
import numpy

In [8]:
wind = forest_fires["wind"].tolist()

In [6]:
area = forest_fires["area"].tolist()

In [10]:
plt.scatter(x=wind, y=area)
plt.show()

In [12]:
temp = forest_fires["temp"]

In [13]:
plt.scatter(x=temp, y=area)
plt.show()

In [17]:
age = [5, 10, 15, 20, 25, 30]
height = [25, 45, 65, 75, 75, 75]
plt.plot(x = age, y = height)
plt.show()

In [28]:
area_by_y = forest_fires.pivot_table(index="Y", values="area", aggfunc=numpy.mean)
area_by_x = forest_fires.pivot_table(index="X", values="area", aggfunc=numpy.mean)
plt.bar(area_by_y.values, area_by_y.index)
plt.show()
plt.bar(area_by_x.values, area_by_x.index)
plt.show()

A horizontal bar graph is much like a regular bar graph, but the bars are horizontal instead of vertical. This can be useful when communicating data that contains larger differences, as there tends to be more horizontal space on pages than vertical space.

You can create a horizontal bar chart with the barh() method. The x-axis values and y-axis values are passed into the method in the same way that they're passed into the bar() method, except they are reversed when they get plotted. The first variable passed in is plotted on the y-axis, and the second is plotted on the x-axis.

In [30]:
area_by_month = forest_fires.pivot_table(index="month", values="area", aggfunc=numpy.mean)
area_by_day = forest_fires.pivot_table(index="day", values="area", aggfunc=numpy.mean)
plt.barh(range(len(area_by_month)), area_by_month)
plt.show()

plt.barh(range(len(area_by_day)), area_by_day)
plt.show()

In [31]:
plt.plot(x = wind, y = area)
plt.title("Wind speed vs fire area")
plt.xlabel("speed when fire started")
plt.ylabel("Area consumed by fire")
plt.show()

In [34]:
plt.style.use("fivethirtyeight")
plt.plot(x = forest_fires["rain"], y = forest_fires["area"])
plt.show()

In [28]:
recent_grads = pd.read_csv("dati\\recent_grads.csv")
recent_grads.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

Pandas DataFrame objects have a few plotting functions that make it easy to quickly explore columns in a DataFrame. While we can understand potential relationships between 2 variables using a line plot, histograms allow us to better understand single columns since they help us visualize how values are distributed. This helps us look for any obvious outliers and helps us understand each column a little better.

Since these functions use Matplotlib underneath, let's import that library and explore the .hist() method to plot histograms of columns we want to learn more about.

The documentation for the .hist() method specifies a column parameter to specify the column(s) we want a histogram for. We can plot the histogram for any numeric columns by specifying the names of the columns in the column parameter. In the code cell, we specify the columns we want Pandas to generate histograms for in the variable columns and then pass it in to the column parameter in the DataFrame .hist() method.

In [29]:
recent_grads.hist(column=["Sample_size", "Median"])

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0A7F5870>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0BA64130>]], dtype=object)

In [15]:
# Set the `layout` parameter as `(2,1)` so the graphs are displayed as 2 rows & 1 column 
# Then set `grid` parameter to `False`.
recent_grads.hist(column=["Sample_size", "Median"], layout=(2,1), grid=False)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0A27A930>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0B309490>]], dtype=object)

In [16]:
plt.show()

In [19]:
recent_grads.hist(column = 'Median', bins=50)
plt.show()

In [26]:
# Select just `Sample_size` & `Major_category` columns from `recent_grads` 
# Name the resulting DataFrame as `sample_size`
sample_size = recent_grads[['Sample_size', 'Major_category']]

# Run the `boxplot()` function on `sample_size` DataFrame and specify, as a parameter, 
# that we'd like a box and whisker diagram to be generated for each unique `Major_category`
sample_size.boxplot(by='Major_category')

# Format the resulting plot to make the x-axis labels (each `Major_category` value) 
# appear vertically instead of horizontally (by rotating 90 degrees)

In [27]:
# Format the resulting plot to make the x-axis labels (each `Major_category` value) 
# appear vertically instead of horizontally (by rotating 90 degrees)
sample_size.boxplot(by='Major_category')
plt.xticks(rotation=90)
plt.show()

In [33]:
Total = recent_grads[["Total", "Major_category"]]
Total.boxplot(by = 'Major_category')
plt.xticks(rotation = 90)
plt.show()

In [34]:
# Plot Unemployment_rate on x-axis, Median salary on y-axis, in red
plt.scatter(recent_grads['Unemployment_rate'], recent_grads['Median'], color='red')
# Plot ShareWomen (Female % in major) on x-axis, Median salary on y-axis, in blue
plt.scatter(recent_grads['ShareWomen'], recent_grads['Median'], color='blue')
plt.show()

In [35]:
plt.scatter(recent_grads["Unemployment_rate"], recent_grads['P25th'], color = 'red')
plt.scatter(recent_grads["ShareWomen"], recent_grads['P25th'], color = 'blue')
plt.show()