# Pandas

To represent tabular data, Pandas uses a custom data structure called a DataFrame. A DataFrame is a highly efficient, 2-dimensional data structure that provides a suite of methods and attributes to quickly explore, analyze, and visualize data. The DataFrame object is similar to the NumPy 2D array but adds support for many features that help you work with tabular data.

One of the biggest advantages that Pandas has over NumPy is the ability to store mixed data types in rows and columns. Many tabular datasets contain a range of data types and Pandas DataFrames handle mixed data types effortlessly while NumPy doesn't. Pandas DataFrames can also handle missing values gracefully using a custom object, NaN, to represent those values. A common complaint with NumPy is its lack of an object to represent missing values and people end up having to find and replace these values manually. In addition, Pandas DataFrames contain axis labels for both rows and columns and enable you to refer to elements in the DataFrame more intuitively. Since many tabular datasets contain column titles, this means that DataFrames preserve the metadata from the file around the data.

In [2]:
import pandas as pd
import numpy as np

In [3]:
play = pd.read_csv("C:\\Users\\Antonio\\Documents\\MEGA\\script\\python\\dati\\pbp-2015.csv")
print(type(play))

<class 'pandas.core.frame.DataFrame'>

To explore the dataframe we use the command head that returns a new dataframe with just the first five rows:

In [3]:
play_head = play.head()
print(play_head)

       GameId    GameDate  Quarter  Minute  Second OffenseTeam DefenseTeam  \
0  2015091000  2015-09-10        2       2       0         NaN         PIT
1  2015091300  2015-09-13        3       4      50         NaN          GB
2  2015091300  2015-09-13        4       0       0         NaN          GB
3  2015091301  2015-09-13        2       2       0         NaN         SEA
4  2015091302  2015-09-13        1       0       0         NaN         CAR

   Down  ToGo  YardLine      ...       IsTwoPointConversion  \
0     0     0         0      ...                          0
1     0     0         0      ...                          0
2     0     0         0      ...                          0
3     0     0         0      ...                          0
4     0     0         0      ...                          0

   IsTwoPointConversionSuccessful  RushDirection  YardLineFixed  \
0                               0            NaN              0
1                               0            NaN              0
2                               0            NaN              0
3                               0            NaN              0
4                               0            NaN              0

  YardLineDirection  IsPenaltyAccepted  PenaltyTeam  IsNoPlay  PenaltyType  \
0               OWN                  0          NaN         0          NaN
1               OWN                  0          NaN         0          NaN
2               OWN                  0          NaN         0          NaN
3               OWN                  0          NaN         0          NaN
4               OWN                  0          NaN         0          NaN

   PenaltyYards
0             0
1             0
2             0
3             0
4             0

[5 rows x 45 columns]

In [19]:
# The first three rows:
print(play.head(3))

       GameId    GameDate  Quarter  Minute  Second OffenseTeam DefenseTeam  \
0  2015091000  2015-09-10        2       2       0         NaN         PIT
1  2015091300  2015-09-13        3       4      50         NaN          GB
2  2015091300  2015-09-13        4       0       0         NaN          GB

   Down  ToGo  YardLine      ...       IsTwoPointConversion  \
0     0     0         0      ...                          0
1     0     0         0      ...                          0
2     0     0         0      ...                          0

   IsTwoPointConversionSuccessful  RushDirection  YardLineFixed  \
0                               0            NaN              0
1                               0            NaN              0
2                               0            NaN              0

  YardLineDirection  IsPenaltyAccepted  PenaltyTeam  IsNoPlay  PenaltyType  \
0               OWN                  0          NaN         0          NaN
1               OWN                  0          NaN         0          NaN
2               OWN                  0          NaN         0          NaN

   PenaltyYards
0             0
1             0
2             0

[3 rows x 45 columns]

To access the full list of column names, use the columns attribute:

In [20]:
print(play.columns)

Index(['GameId', 'GameDate', 'Quarter', 'Minute', 'Second', 'OffenseTeam',
       'DefenseTeam', 'Down', 'ToGo', 'YardLine', 'Unnamed: 10',
       'SeriesFirstDown', 'Unnamed: 12', 'NextScore', 'Description', 'TeamWin',
       'Unnamed: 16', 'Unnamed: 17', 'SeasonYear', 'Yards', 'Formation',
       'PlayType', 'IsRush', 'IsPass', 'IsIncomplete', 'IsTouchdown',
       'PassType', 'IsSack', 'IsChallenge', 'IsChallengeReversed',
       'Challenger', 'IsMeasurement', 'IsInterception', 'IsFumble',
       'IsPenalty', 'IsTwoPointConversion', 'IsTwoPointConversionSuccessful',
       'RushDirection', 'YardLineFixed', 'YardLineDirection',
       'IsPenaltyAccepted', 'PenaltyTeam', 'IsNoPlay', 'PenaltyType',
       'PenaltyYards'],
      dtype='object')

To obtain the shape:

In [24]:
print(play.shape) # #rows, #columns

(46277, 45)

The Series object is a core data structure that Pandas uses to represent rows and columns. A Series is a labelled collection of values similar to the NumPy vector. The main advantage of Series objects is the ability to utilize non-integer labels. NumPy arrays can only utilize integer labels for indexing. Pandas utilizes this feature to provide more context when returning a row or a column from a DataFrame. For example, when you select a row from a DataFrame, instead of just returning the values in that row as a list, Pandas returns a Series object that contains the column labels as well as the corresponding values

While we use bracket notation to access elements in a NumPy array or a standard list, we need to use the Pandas method loc[] to select rows in a DataFrame. The loc[] method allows you to select rows by row labels. Recall that when you read a file into a DataFrame, Pandas uses the row number (or position) as each row's label. Pandas uses zero-indexing, so the first row is at index 0, the second row at index 1, and so on.

In [4]:
play.loc[0]

GameId                                    2015091000
GameDate                                  2015-09-10
Quarter                                            2
Minute                                             2
Second                                             0
OffenseTeam                                      NaN
DefenseTeam                                      PIT
Down                                               0
ToGo                                               0
YardLine                                           0
Unnamed: 10                                      NaN
SeriesFirstDown                                    1
Unnamed: 12                                      NaN
NextScore                                          0
Description                       TWO-MINUTE WARNING
TeamWin                                            0
Unnamed: 16                                      NaN
Unnamed: 17                                      NaN
SeasonYear                                      2015
Yards                                              0
Formation                               UNDER CENTER
PlayType                                         NaN
IsRush                                             0
IsPass                                             0
IsIncomplete                                       0
IsTouchdown                                        0
PassType                                         NaN
IsSack                                             0
IsChallenge                                        0
IsChallengeReversed                                0
Challenger                                       NaN
IsMeasurement                                      0
IsInterception                                     0
IsFumble                                           0
IsPenalty                                          0
IsTwoPointConversion                               0
IsTwoPointConversionSuccessful                     0
RushDirection                                    NaN
YardLineFixed                                      0
YardLineDirection                                OWN
IsPenaltyAccepted                                  0
PenaltyTeam                                      NaN
IsNoPlay                                           0
PenaltyType                                      NaN
PenaltyYards                                       0
Name: 0, dtype: object

When you displayed individual rows, represented as Series objects, you may have noticed the text "dtype: object" after the last value. dtype: object refers to the data type, or dtype, of that Series. The object dtype is equivalent to the string type in Python. Pandas borrows from the NumPy type system and contains the following dtypes:

•object - for representing string values.

•int - for representing integer values.

•float - for representing float values.

•datetime - for representing time values.

•bool - for representing Boolean values.

When reading a file into a DataFrame, Pandas analyzes the values and infers each column's types. To access the types for each column, use the DataFrame attribute dtypes to return a Series containing each column name and its corresponding type.

In [5]:
play.dtypes

GameId                              int64
GameDate                           object
Quarter                             int64
Minute                              int64
Second                              int64
OffenseTeam                        object
DefenseTeam                        object
Down                                int64
ToGo                                int64
YardLine                            int64
Unnamed: 10                       float64
SeriesFirstDown                     int64
Unnamed: 12                       float64
NextScore                           int64
Description                        object
TeamWin                             int64
Unnamed: 16                       float64
Unnamed: 17                       float64
SeasonYear                          int64
Yards                               int64
Formation                          object
PlayType                           object
IsRush                              int64
IsPass                              int64
IsIncomplete                        int64
IsTouchdown                         int64
PassType                           object
IsSack                              int64
IsChallenge                         int64
IsChallengeReversed                 int64
Challenger                        float64
IsMeasurement                       int64
IsInterception                      int64
IsFumble                            int64
IsPenalty                           int64
IsTwoPointConversion                int64
IsTwoPointConversionSuccessful      int64
RushDirection                      object
YardLineFixed                       int64
YardLineDirection                  object
IsPenaltyAccepted                   int64
PenaltyTeam                        object
IsNoPlay                            int64
PenaltyType                        object
PenaltyYards                        int64
dtype: object

In [9]:
play.shape[0]

46277

In [10]:
length = play.shape[0]
last_five = play.loc[length - 5 : length]
print(last_five)

           GameId    GameDate  Quarter  Minute  Second OffenseTeam  \
46272  2016010315  2016-01-03        5       6      23         STL
46273  2016010315  2016-01-03        5       5      40         STL
46274  2016010315  2016-01-03        5       5       0         STL
46275  2016010315  2016-01-03        5       4      14          SF
46276  2016010315  2016-01-03        5       3      31          SF

      DefenseTeam  Down  ToGo  YardLine      ...       IsTwoPointConversion  \
46272          SF     2     6        73      ...                          0
46273          SF     3     9        70      ...                          0
46274          SF     4     9        70      ...                          0
46275         STL     2    10        62      ...                          0
46276         STL     1     5        95      ...                          0

       IsTwoPointConversionSuccessful  RushDirection  YardLineFixed  \
46272                               0   RIGHT TACKLE             27
46273                               0         CENTER             30
46274                               0            NaN             30
46275                               0            NaN             38
46276                               0            NaN              5

      YardLineDirection  IsPenaltyAccepted  PenaltyTeam  IsNoPlay  \
46272               OPP                  0          NaN         0
46273               OPP                  0          NaN         0
46274               OPP                  0          NaN         0
46275               OPP                  0          NaN         0
46276               OPP                  0          NaN         0

       PenaltyType  PenaltyYards
46272          NaN             0
46273          NaN             0
46274          NaN             0
46275          NaN             0
46276          NaN             0

[5 rows x 45 columns]

When accessing a column in a DataFrame, Pandas returns a Series object containing the row label and each row's value for that column. To access a single column, use bracket notation and pass in the column name as a string.

In [13]:
play[["YardLine", "GameDate"]]

       YardLine    GameDate
0             0  2015-09-10
1             0  2015-09-13
2             0  2015-09-13
3             0  2015-09-13
4             0  2015-09-13
5            20  2015-09-13
6            24  2015-09-13
7            76  2015-09-13
8            37  2015-09-13
9             0  2015-09-13
10           68  2015-09-13
11           71  2015-09-13
12            0  2015-09-13
13           13  2015-09-13
14            0  2015-09-13
15           28  2015-09-13
16           40  2015-09-13
17            0  2015-09-13
18           47  2015-09-13
19            0  2015-09-13
20           37  2015-09-13
21            0  2015-09-13
22           35  2015-09-13
23           35  2015-09-13
24           24  2015-09-13
25           50  2015-09-13
26           41  2015-09-13
27           43  2015-09-13
28            0  2015-09-13
29           35  2015-09-13
...         ...         ...
46247        64  2016-01-03
46248        86  2016-01-03
46249        86  2016-01-03
46250        85  2016-01-03
46251        85  2016-01-03
46252        90  2016-01-03
46253        57  2016-01-03
46254        66  2016-01-03
46255        51  2016-01-03
46256        52  2016-01-03
46257        60  2016-01-03
46258        50  2016-01-03
46259        57  2016-01-03
46260        59  2016-01-03
46261        59  2016-01-03
46262        54  2016-01-03
46263        90  2016-01-03
46264        92  2016-01-03
46265        80  2016-01-03
46266        57  2016-01-03
46267        63  2016-01-03
46268        63  2016-01-03
46269        58  2016-01-03
46270        56  2016-01-03
46271        69  2016-01-03
46272        73  2016-01-03
46273        70  2016-01-03
46274        70  2016-01-03
46275        62  2016-01-03
46276        95  2016-01-03

[46277 rows x 2 columns]

Take the list of the column:

In [14]:
play.columns.tolist()

['GameId',
 'GameDate',
 'Quarter',
 'Minute',
 'Second',
 'OffenseTeam',
 'DefenseTeam',
 'Down',
 'ToGo',
 'YardLine',
 'Unnamed: 10',
 'SeriesFirstDown',
 'Unnamed: 12',
 'NextScore',
 'Description',
 'TeamWin',
 'Unnamed: 16',
 'Unnamed: 17',
 'SeasonYear',
 'Yards',
 'Formation',
 'PlayType',
 'IsRush',
 'IsPass',
 'IsIncomplete',
 'IsTouchdown',
 'PassType',
 'IsSack',
 'IsChallenge',
 'IsChallengeReversed',
 'Challenger',
 'IsMeasurement',
 'IsInterception',
 'IsFumble',
 'IsPenalty',
 'IsTwoPointConversion',
 'IsTwoPointConversionSuccessful',
 'RushDirection',
 'YardLineFixed',
 'YardLineDirection',
 'IsPenaltyAccepted',
 'PenaltyTeam',
 'IsNoPlay',
 'PenaltyType',
 'PenaltyYards']

In [17]:
play.columns

Index(['GameId', 'GameDate', 'Quarter', 'Minute', 'Second', 'OffenseTeam',
       'DefenseTeam', 'Down', 'ToGo', 'YardLine', 'Unnamed: 10',
       'SeriesFirstDown', 'Unnamed: 12', 'NextScore', 'Description', 'TeamWin',
       'Unnamed: 16', 'Unnamed: 17', 'SeasonYear', 'Yards', 'Formation',
       'PlayType', 'IsRush', 'IsPass', 'IsIncomplete', 'IsTouchdown',
       'PassType', 'IsSack', 'IsChallenge', 'IsChallengeReversed',
       'Challenger', 'IsMeasurement', 'IsInterception', 'IsFumble',
       'IsPenalty', 'IsTwoPointConversion', 'IsTwoPointConversionSuccessful',
       'RushDirection', 'YardLineFixed', 'YardLineDirection',
       'IsPenaltyAccepted', 'PenaltyTeam', 'IsNoPlay', 'PenaltyType',
       'PenaltyYards'],
      dtype='object')

In [20]:
game_id = play["GameId"] + 1

In [22]:
play["Quarter"] * play["Minute"]

0         4
1        12
2         0
3         4
4         0
5        18
6        18
7         8
8         4
9        24
10       42
11       39
12        0
13       52
14        8
15        8
16        7
17        4
18        4
19        0
20       30
21        0
22       12
23       12
24       12
25        4
26        7
27       27
28        0
29       10
         ..
46247    22
46248     4
46249    33
46250    30
46251    30
46252    27
46253    15
46254     3
46255     0
46256    60
46257    56
46258    56
46259    44
46260    40
46261    40
46262    40
46263    20
46264    16
46265    16
46266     4
46267     4
46268     4
46269    40
46270    35
46271    35
46272    30
46273    25
46274    25
46275    20
46276    15
dtype: int64

In [23]:
play["GameId"].max()

2016010315

Instead of just transforming a column and assigning the resulting Series object to a variable, you can actually add it as a column to the DataFrame. Use bracket notation to specify the name you want for that column and then use the assignment operator (=) to specify the Series object whose values you want assigned to that column:

In [24]:
play["Normalized_GameId"] = play["GameId"] / play["GameId"].max()

DataFrame objects contain a sort() method that we can use to sort the entire DataFrame by. By default, Pandas will sort by the column we specified in ascending order and will return a new DataFrame instead of modifying food_info itself. With the parameter inplacce = True the original dataframe is modified, if we want to order descending and not ascending the parameter ascending = False has to be added.

In [25]:
play.sort("Normalized_GameId", inplace = True, ascending = False)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

To see if there are null value we use the method pd.isnull():

In [4]:
play["OffenseTeam_null"] = pd.isnull(play["OffenseTeam"])

In [5]:
play["OffenseTeam_null"]

0         True
1         True
2         True
3         True
4         True
5        False
6        False
7        False
8        False
9         True
10       False
11       False
12        True
13       False
14        True
15       False
16       False
17        True
18       False
19        True
20       False
21        True
22       False
23       False
24       False
25       False
26       False
27       False
28        True
29       False
         ...
46247    False
46248    False
46249    False
46250    False
46251    False
46252    False
46253    False
46254    False
46255    False
46256    False
46257    False
46258    False
46259    False
46260    False
46261    False
46262    False
46263    False
46264    False
46265    False
46266    False
46267    False
46268    False
46269    False
46270    False
46271    False
46272    False
46273    False
46274    False
46275    False
46276    False
Name: OffenseTeam_null, dtype: bool

Selection all the rows in which there aren't NaN in the attribute Offense team:

In [18]:
selection = play["OffenseTeam_null"] == False

In [19]:
play.loc[selection]

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards,OffenseTeam_null
5,2015091303,2015-09-13,2,9,48,WAS,MIA,2,2,20,...,0,LEFT TACKLE,20,OWN,0,NaN,0,NaN,0,False
6,2015091303,2015-09-13,2,9,13,WAS,MIA,1,10,24,...,0,NaN,24,OWN,0,NaN,0,NaN,0,False
7,2015091303,2015-09-13,4,2,33,WAS,MIA,2,11,76,...,0,NaN,24,OPP,0,NaN,0,NaN,0,False
8,2015091304,2015-09-13,1,4,57,BUF,IND,2,20,37,...,0,NaN,37,OWN,0,NaN,0,NaN,0,False
10,2015091304,2015-09-13,3,14,4,BUF,IND,1,10,68,...,0,NaN,32,OPP,0,NaN,0,NaN,0,False
11,2015091304,2015-09-13,3,13,27,BUF,IND,2,7,71,...,0,LEFT GUARD,29,OPP,0,NaN,0,NaN,0,False
13,2015091304,2015-09-13,4,13,33,BUF,IND,4,17,13,...,0,NaN,13,OWN,0,NaN,0,NaN,0,False
15,2015091305,2015-09-13,1,8,20,CLE,NYJ,3,1,28,...,0,NaN,28,OWN,0,NaN,0,NaN,0,False
16,2015091305,2015-09-13,1,7,26,CLE,NYJ,2,9,40,...,0,CENTER,40,OWN,0,NaN,0,NaN,0,False
18,2015091305,2015-09-13,2,2,0,NYJ,CLE,2,2,47,...,0,NaN,47,OWN,0,NaN,0,NaN,0,False
20,2015091305,2015-09-13,3,10,52,CLE,NYJ,3,7,37,...,0,NaN,37,OWN,0,NaN,0,NaN,0,False
22,2015091306,2015-09-13,3,4,49,KC,HOU,1,10,35,...,0,NaN,35,OWN,0,NaN,0,NaN,0,False
23,2015091306,2015-09-13,3,4,42,KC,HOU,2,10,35,...,0,NaN,35,OWN,0,NaN,0,NaN,0,False
24,2015091306,2015-09-13,4,3,26,KC,HOU,2,6,24,...,0,NaN,24,OWN,0,NaN,0,NaN,0,False
25,2015091306,2015-09-13,4,1,22,KC,HOU,1,10,50,...,0,NaN,50,OPP,0,NaN,0,NaN,0,False
26,2015091307,2015-09-13,1,7,20,NO,ARI,2,1,41,...,0,LEFT TACKLE,41,OWN,0,NaN,0,NaN,0,False
27,2015091307,2015-09-13,3,9,2,NO,ARI,1,10,43,...,0,CENTER,43,OWN,1,NO,1,OFFENSIVE HOLDING,10,False
29,2015091308,2015-09-13,2,5,2,SD,DET,0,0,35,...,0,NaN,35,OWN,0,NaN,0,NaN,0,False
30,2015091308,2015-09-13,4,14,28,SD,DET,2,7,50,...,0,NaN,50,OPP,0,NaN,0,NaN,0,False
32,2015091309,2015-09-13,4,14,12,BAL,DEN,2,10,35,...,0,NaN,35,OWN,0,NaN,0,NaN,0,False
34,2015091310,2015-09-13,2,13,41,OAK,CIN,4,6,47,...,0,NaN,47,OWN,0,NaN,0,NaN,0,False
35,2015091310,2015-09-13,3,7,50,CIN,OAK,1,10,15,...,0,NaN,15,OWN,1,OAK,1,DEFENSIVE HOLDING,5,False
36,2015091310,2015-09-13,3,0,47,OAK,CIN,2,6,32,...,0,NaN,32,OWN,0,NaN,0,NaN,0,False
37,2015091311,2015-09-13,1,10,16,TEN,TB,1,10,37,...,0,LEFT GUARD,37,OWN,0,NaN,0,NaN,0,False
38,2015091311,2015-09-13,1,0,41,TB,TEN,2,7,93,...,0,NaN,7,OPP,0,NaN,0,NaN,0,False
39,2015091311,2015-09-13,2,6,39,TEN,TB,2,9,73,...,0,RIGHT GUARD,27,OPP,0,NaN,0,NaN,0,False
40,2015091311,2015-09-13,2,0,48,TB,TEN,1,10,20,...,0,NaN,20,OWN,0,NaN,0,NaN,0,False
41,2015091311,2015-09-13,4,14,21,TEN,TB,1,15,60,...,0,LEFT GUARD,40,OPP,0,NaN,0,NaN,0,False
42,2015091311,2015-09-13,4,12,36,TB,TEN,1,10,28,...,0,LEFT TACKLE,28,OWN,0,NaN,0,NaN,0,False
43,2015091311,2015-09-13,4,2,12,TEN,TB,1,10,16,...,0,NaN,16,OWN,0,NaN,0,NaN,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46247,2016010315,2016-01-03,2,11,29,STL,SF,3,4,64,...,0,NaN,36,OPP,0,NaN,0,NaN,0,False
46248,2016010315,2016-01-03,2,2,48,STL,SF,4,3,86,...,0,NaN,14,OPP,0,NaN,0,NaN,0,False
46249,2016010315,2016-01-03,3,11,0,SF,STL,1,10,86,...,0,CENTER,14,OPP,0,NaN,0,NaN,0,False
46250,2016010315,2016-01-03,3,10,25,SF,STL,2,11,85,...,0,NaN,15,OPP,0,NaN,0,NaN,0,False
46251,2016010315,2016-01-03,3,10,20,SF,STL,3,11,85,...,0,NaN,15,OPP,0,NaN,0,NaN,0,False
46252,2016010315,2016-01-03,3,9,41,SF,STL,4,6,90,...,0,NaN,10,OPP,0,NaN,0,NaN,0,False
46253,2016010315,2016-01-03,3,5,4,STL,SF,1,10,57,...,0,CENTER,43,OPP,0,NaN,0,NaN,0,False
46254,2016010315,2016-01-03,3,1,18,STL,SF,4,13,66,...,0,NaN,34,OPP,0,NaN,0,NaN,0,False
46255,2016010315,2016-01-03,3,0,42,SF,STL,2,1,51,...,0,RIGHT TACKLE,49,OPP,0,NaN,0,NaN,0,False
46256,2016010315,2016-01-03,4,15,0,SF,STL,1,10,52,...,0,NaN,48,OPP,0,NaN,0,NaN,0,False
46257,2016010315,2016-01-03,4,14,38,SF,STL,2,2,60,...,0,CENTER,40,OPP,1,SF,1,OFFENSIVE HOLDING,10,False
46258,2016010315,2016-01-03,4,14,17,SF,STL,2,12,50,...,0,NaN,50,OPP,0,NaN,0,NaN,0,False
46259,2016010315,2016-01-03,4,11,20,STL,SF,2,4,57,...,0,LEFT TACKLE,43,OPP,0,NaN,0,NaN,0,False
46260,2016010315,2016-01-03,4,10,38,STL,SF,3,2,59,...,0,NaN,41,OPP,0,NaN,0,NaN,0,False
46261,2016010315,2016-01-03,4,10,35,STL,SF,4,2,59,...,0,NaN,41,OPP,1,STL,1,DELAY OF GAME,5,False
46262,2016010315,2016-01-03,4,10,31,STL,SF,4,7,54,...,0,NaN,46,OPP,0,NaN,0,NaN,0,False
46263,2016010315,2016-01-03,4,5,16,SF,STL,2,3,90,...,0,CENTER,10,OPP,0,NaN,0,NaN,0,False
46264,2016010315,2016-01-03,4,4,43,SF,STL,3,1,92,...,0,NaN,8,OPP,1,STL,0,UNNECESSARY ROUGHNESS,0,False
46265,2016010315,2016-01-03,4,4,33,SF,STL,4,13,80,...,0,NaN,20,OPP,0,NaN,0,NaN,0,False
46266,2016010315,2016-01-03,4,1,49,SF,STL,2,10,57,...,0,RIGHT END,43,OPP,0,NaN,0,NaN,0,False
46267,2016010315,2016-01-03,4,1,43,SF,STL,3,4,63,...,0,NaN,37,OPP,0,NaN,0,NaN,0,False
46268,2016010315,2016-01-03,4,1,39,SF,STL,4,4,63,...,0,NaN,37,OPP,0,NaN,0,NaN,0,False
46269,2016010315,2016-01-03,5,8,31,STL,SF,1,10,58,...,0,CENTER,42,OPP,0,NaN,0,NaN,0,False
46270,2016010315,2016-01-03,5,7,49,STL,SF,2,12,56,...,0,NaN,44,OPP,0,NaN,0,NaN,0,False
46271,2016010315,2016-01-03,5,7,7,STL,SF,1,10,69,...,0,RIGHT GUARD,31,OPP,0,NaN,0,NaN,0,False
46272,2016010315,2016-01-03,5,6,23,STL,SF,2,6,73,...,0,RIGHT TACKLE,27,OPP,0,NaN,0,NaN,0,False
46273,2016010315,2016-01-03,5,5,40,STL,SF,3,9,70,...,0,CENTER,30,OPP,0,NaN,0,NaN,0,False
46274,2016010315,2016-01-03,5,5,0,STL,SF,4,9,70,...,0,NaN,30,OPP,0,NaN,0,NaN,0,False
46275,2016010315,2016-01-03,5,4,14,SF,STL,2,10,62,...,0,NaN,38,OPP,0,NaN,0,NaN,0,False
46276,2016010315,2016-01-03,5,3,31,SF,STL,1,5,95,...,0,NaN,5,OPP,0,NaN,0,NaN,0,False

The method mean doesn't count the NaN:

In [20]:
play["GameId"].mean()

2015163920.1374981

Pivot table:

In [14]:
play.pivot_table(index = "OffenseTeam", values = ["GameId"], aggfunc = np.mean)

                 GameId
OffenseTeam
ARI          2015153850
ATL          2015158340
BAL          2015169658
BUF          2015170240
CAR          2015160989
CHI          2015151597
CIN          2015163905
CLE          2015172789
DAL          2015165937
DEN          2015163145
DET          2015160957
GB           2015167154
HOU          2015169907
IND          2015167748
JAC          2015154196
KC           2015165277
MIA          2015173202
MIN          2015154557
NE           2015157918
NO           2015157469
NYG          2015173350
NYJ          2015153906
OAK          2015158689
PHI          2015158786
PIT          2015158457
SD           2015165369
SEA          2015168819
SF           2015180235
STL          2015176245
TB           2015164494
TEN          2015160499
WAS          2015164752

In [27]:
play.pivot_table(index = "OffenseTeam", values = ["GameId", "Minute"], aggfunc = np.mean)

                   GameId    Minute
OffenseTeam
ARI          2.015154e+09  6.633333
ATL          2.015158e+09  6.756080
BAL          2.015170e+09  6.528261
BUF          2.015170e+09  6.532438
CAR          2.015161e+09  6.856228
CHI          2.015152e+09  6.845865
CIN          2.015164e+09  6.872260
CLE          2.015173e+09  6.744012
DAL          2.015166e+09  6.686603
DEN          2.015163e+09  6.850440
DET          2.015161e+09  6.529456
GB           2.015167e+09  6.539230
HOU          2.015170e+09  6.790345
IND          2.015168e+09  6.794571
JAC          2.015154e+09  6.807165
KC           2.015165e+09  6.979576
MIA          2.015173e+09  6.679938
MIN          2.015155e+09  6.840409
NE           2.015158e+09  6.873752
NO           2.015157e+09  6.817410
NYG          2.015173e+09  6.674352
NYJ          2.015154e+09  6.649640
OAK          2.015159e+09  6.841234
PHI          2.015159e+09  6.955401
PIT          2.015158e+09  6.827327
SD           2.015165e+09  6.504219
SEA          2.015169e+09  6.721397
SF           2.015180e+09  6.825282
STL          2.015176e+09  6.756137
TB           2.015164e+09  6.570354
TEN          2.015160e+09  6.808460
WAS          2.015165e+09  6.689342

We can take the column even with the method .loc:

In [6]:
play.loc[:, "GameId"]

0        2015091000
1        2015091300
2        2015091300
3        2015091301
4        2015091302
5        2015091303
6        2015091303
7        2015091303
8        2015091304
9        2015091304
10       2015091304
11       2015091304
12       2015091304
13       2015091304
14       2015091304
15       2015091305
16       2015091305
17       2015091305
18       2015091305
19       2015091305
20       2015091305
21       2015091306
22       2015091306
23       2015091306
24       2015091306
25       2015091306
26       2015091307
27       2015091307
28       2015091308
29       2015091308
            ...
46247    2016010315
46248    2016010315
46249    2016010315
46250    2016010315
46251    2016010315
46252    2016010315
46253    2016010315
46254    2016010315
46255    2016010315
46256    2016010315
46257    2016010315
46258    2016010315
46259    2016010315
46260    2016010315
46261    2016010315
46262    2016010315
46263    2016010315
46264    2016010315
46265    2016010315
46266    2016010315
46267    2016010315
46268    2016010315
46269    2016010315
46270    2016010315
46271    2016010315
46272    2016010315
46273    2016010315
46274    2016010315
46275    2016010315
46276    2016010315
Name: GameId, dtype: int64

By default, .apply() will iterate through each column in a dataframe, and perform a function on it.

The column will be passed into the function.

The result from the function will be combined with all of the other results, and placed into a new series.

The function results will have the same position as the column they were generated from.

In [12]:
# use the apply function to found the number of NaN for every column
def count_na(series):
    return sum(pd.isnull(series))
play.apply(count_na)

GameId                                0
GameDate                              0
Quarter                               0
Minute                                0
Second                                0
OffenseTeam                        3304
DefenseTeam                           0
Down                                  0
ToGo                                  0
YardLine                              0
Unnamed: 10                       46277
SeriesFirstDown                       0
Unnamed: 12                       46277
NextScore                             0
Description                           0
TeamWin                               0
Unnamed: 16                       46277
Unnamed: 17                       46277
SeasonYear                            0
Yards                                 0
Formation                           706
PlayType                           1498
IsRush                                0
IsPass                                0
IsIncomplete                          0
IsTouchdown                           0
PassType                          26926
IsSack                                0
IsChallenge                           0
IsChallengeReversed                   0
Challenger                        46277
IsMeasurement                         0
IsInterception                        0
IsFumble                              0
IsPenalty                             0
IsTwoPointConversion                  0
IsTwoPointConversionSuccessful        0
RushDirection                     33734
YardLineFixed                         0
YardLineDirection                     0
IsPenaltyAccepted                     0
PenaltyTeam                       42256
IsNoPlay                              0
PenaltyType                       42254
PenaltyYards                          0
dtype: int64

By passing in the axis argument, we can use the .apply() method to iterate over rows instead of columns.

In [13]:
def is_NaN(row):
    if row["GameId"] > np.mean(play["GameId"]):
        return "plus"
    else:
        return "minor"
play.apply(is_NaN, axis = 1)

0        minor
1        minor
2        minor
3        minor
4        minor
5        minor
6        minor
7        minor
8        minor
9        minor
10       minor
11       minor
12       minor
13       minor
14       minor
15       minor
16       minor
17       minor
18       minor
19       minor
20       minor
21       minor
22       minor
23       minor
24       minor
25       minor
26       minor
27       minor
28       minor
29       minor
         ...
46247     plus
46248     plus
46249     plus
46250     plus
46251     plus
46252     plus
46253     plus
46254     plus
46255     plus
46256     plus
46257     plus
46258     plus
46259     plus
46260     plus
46261     plus
46262     plus
46263     plus
46264     plus
46265     plus
46266     plus
46267     plus
46268     plus
46269     plus
46270     plus
46271     plus
46272     plus
46273     plus
46274     plus
46275     plus
46276     plus
dtype: object

DataFrame.count(axis=0, level=None, numeric_only=False)
Return Series with number of non-NA/null observations over requested axis. Works with non-floating point data as well (detects NaN and None)

In [7]:
play.count(axis = 1)

0        34
1        34
2        34
3        34
4        33
5        37
6        37
7        37
8        37
9        35
10       37
11       37
12       33
13       36
14       35
15       37
16       37
17       34
18       37
19       33
20       37
21       33
22       37
23       37
24       37
25       36
26       37
27       39
28       33
29       36
         ..
46247    37
46248    36
46249    37
46250    37
46251    37
46252    36
46253    37
46254    36
46255    37
46256    37
46257    39
46258    37
46259    37
46260    37
46261    38
46262    36
46263    37
46264    38
46265    36
46266    37
46267    37
46268    36
46269    37
46270    37
46271    37
46272    37
46273    37
46274    36
46275    37
46276    36
dtype: int64

In [8]:
play.count(axis = 0)

GameId                            46277
GameDate                          46277
Quarter                           46277
Minute                            46277
Second                            46277
OffenseTeam                       42973
DefenseTeam                       46277
Down                              46277
ToGo                              46277
YardLine                          46277
Unnamed: 10                           0
SeriesFirstDown                   46277
Unnamed: 12                           0
NextScore                         46277
Description                       46277
TeamWin                           46277
Unnamed: 16                           0
Unnamed: 17                           0
SeasonYear                        46277
Yards                             46277
Formation                         45571
PlayType                          44779
IsRush                            46277
IsPass                            46277
IsIncomplete                      46277
IsTouchdown                       46277
PassType                          19351
IsSack                            46277
IsChallenge                       46277
IsChallengeReversed               46277
Challenger                            0
IsMeasurement                     46277
IsInterception                    46277
IsFumble                          46277
IsPenalty                         46277
IsTwoPointConversion              46277
IsTwoPointConversionSuccessful    46277
RushDirection                     12543
YardLineFixed                     46277
YardLineDirection                 46277
IsPenaltyAccepted                 46277
PenaltyTeam                        4021
IsNoPlay                          46277
PenaltyType                        4023
PenaltyYards                      46277
dtype: int64

In [9]:
play.count(axis = 1).index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            46267, 46268, 46269, 46270, 46271, 46272, 46273, 46274, 46275,
            46276],
           dtype='int64', length=46277)

In [10]:
play.count(axis = 0).index

Index(['GameId', 'GameDate', 'Quarter', 'Minute', 'Second', 'OffenseTeam',
       'DefenseTeam', 'Down', 'ToGo', 'YardLine', 'Unnamed: 10',
       'SeriesFirstDown', 'Unnamed: 12', 'NextScore', 'Description', 'TeamWin',
       'Unnamed: 16', 'Unnamed: 17', 'SeasonYear', 'Yards', 'Formation',
       'PlayType', 'IsRush', 'IsPass', 'IsIncomplete', 'IsTouchdown',
       'PassType', 'IsSack', 'IsChallenge', 'IsChallengeReversed',
       'Challenger', 'IsMeasurement', 'IsInterception', 'IsFumble',
       'IsPenalty', 'IsTwoPointConversion', 'IsTwoPointConversionSuccessful',
       'RushDirection', 'YardLineFixed', 'YardLineDirection',
       'IsPenaltyAccepted', 'PenaltyTeam', 'IsNoPlay', 'PenaltyType',
       'PenaltyYards'],
      dtype='object')

In [15]:
play.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            46267, 46268, 46269, 46270, 46271, 46272, 46273, 46274, 46275,
            46276],
           dtype='int64', length=46277)

In [16]:
play.columns

Index(['GameId', 'GameDate', 'Quarter', 'Minute', 'Second', 'OffenseTeam',
       'DefenseTeam', 'Down', 'ToGo', 'YardLine', 'Unnamed: 10',
       'SeriesFirstDown', 'Unnamed: 12', 'NextScore', 'Description', 'TeamWin',
       'Unnamed: 16', 'Unnamed: 17', 'SeasonYear', 'Yards', 'Formation',
       'PlayType', 'IsRush', 'IsPass', 'IsIncomplete', 'IsTouchdown',
       'PassType', 'IsSack', 'IsChallenge', 'IsChallengeReversed',
       'Challenger', 'IsMeasurement', 'IsInterception', 'IsFumble',
       'IsPenalty', 'IsTwoPointConversion', 'IsTwoPointConversionSuccessful',
       'RushDirection', 'YardLineFixed', 'YardLineDirection',
       'IsPenaltyAccepted', 'PenaltyTeam', 'IsNoPlay', 'PenaltyType',
       'PenaltyYards'],
      dtype='object')

In [17]:
recent_grads = pd.read_csv("dati\\recent_grads.csv")

In [18]:
recent_grads

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
5,6,2418,NUCLEAR ENGINEERING,Engineering,2573,17,2200,373,0.144967,1857,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244
6,7,6202,ACTUARIAL SCIENCE,Business,3777,51,832,960,0.535714,2912,...,296,2482,308,0.095652,62000,53000,72000,1768,314,259
7,8,5001,ASTRONOMY AND ASTROPHYSICS,Physical Sciences,1792,10,2110,1667,0.441356,1526,...,553,827,33,0.021167,62000,31500,109000,972,500,220
8,9,2414,MECHANICAL ENGINEERING,Engineering,91227,1029,12953,2105,0.139793,76442,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
9,10,2408,ELECTRICAL ENGINEERING,Engineering,81527,631,8407,6548,0.437847,61928,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170
10,11,2407,COMPUTER ENGINEERING,Engineering,41542,399,33258,8284,0.199413,32506,...,5146,23621,2275,0.065409,60000,45000,75000,23694,5721,980
11,12,2401,AEROSPACE ENGINEERING,Engineering,15058,147,65511,16016,0.196450,11391,...,2724,8790,794,0.065162,60000,42000,70000,8184,2425,372
12,13,2404,BIOMEDICAL ENGINEERING,Engineering,14955,79,80320,10907,0.119559,10047,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
13,14,5008,MATERIALS SCIENCE,Engineering,4279,22,2949,1330,0.310820,3307,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
14,15,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,4321,30,3526,795,0.183985,3608,...,811,2004,23,0.006334,58000,25000,74000,2439,947,263
15,16,2402,BIOLOGICAL ENGINEERING,Engineering,8925,55,6062,2863,0.320784,6170,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,18968,183,12453,6515,0.343473,15604,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
17,18,2400,GENERAL ENGINEERING,Engineering,61152,425,45683,15469,0.252960,44931,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
18,19,2403,ARCHITECTURAL ENGINEERING,Engineering,2825,26,1835,990,0.350442,2575,...,343,1848,170,0.061931,54000,38000,65000,1665,649,137
19,20,3201,COURT REPORTING,Law & Public Policy,1148,14,877,271,0.236063,930,...,223,808,11,0.011690,54000,50000,54000,402,528,144
20,21,2102,COMPUTER SCIENCE,Computers & Mathematics,128319,1196,1837,2524,0.578766,102087,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
21,22,1104,FOOD SCIENCE,Agriculture & Natural Resources,4361,36,99743,28576,0.222695,3149,...,1121,1735,338,0.096931,53000,32000,70000,1183,1274,485
22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,11565,97,2020,973,0.325092,8587,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,2993,22,8181,3384,0.292607,2449,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
24,25,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,18713,278,13496,5217,0.278790,16413,...,2420,13017,1015,0.058240,51000,38000,60000,6342,5741,708
25,26,2406,CIVIL ENGINEERING,Engineering,53153,565,41081,12072,0.227118,43041,...,10080,29196,3270,0.070610,50000,40000,60000,28526,9356,2899
26,27,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,18498,295,2662,1385,0.342229,16318,...,1751,12313,1042,0.060023,50000,36000,60000,3275,5351,703
27,28,6204,OPERATIONS LOGISTICS AND E-COMMERCE,Business,11732,156,488,232,0.322222,10027,...,1183,7724,504,0.047859,50000,40000,60000,1466,3629,285
28,29,2499,MISCELLANEOUS ENGINEERING,Engineering,9133,118,7398,1735,0.189970,7428,...,1662,5476,597,0.074393,50000,39000,65000,3445,2426,365
29,30,5402,PUBLIC POLICY,Law & Public Policy,5978,55,2695,905,0.251389,4547,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,144,1105,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,7416,110,5079,7841,0.606889,6594,...,1246,4522,314,0.045455,32000,22900,40000,2089,3545,1231
144,145,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,Education,6483,59,22357,16404,0.423209,5362,...,1227,3247,266,0.047264,32000,28000,39000,4214,1106,591
145,146,5200,PSYCHOLOGY,Psychology & Social Work,393735,2584,86648,307087,0.779933,307933,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
146,147,6002,MUSIC,Arts,60633,419,15670,12543,0.444582,47662,...,24943,21425,3918,0.075960,31000,22300,42000,13752,28786,9286
147,148,2306,PHYSICAL AND HEALTH EDUCATION TEACHING,Education,28213,259,29909,30724,0.506721,23794,...,7230,13651,1920,0.074667,31000,24000,40000,12777,9328,2042
148,149,6006,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,21030,204,3240,17790,0.845934,17579,...,6140,9965,1128,0.060298,31000,23000,40000,5139,9738,3426
149,150,6000,FINE ARTS,Arts,74440,623,24786,49654,0.667034,59679,...,23656,31877,5486,0.084186,30500,21000,41000,20792,32725,11880
150,151,2901,FAMILY AND CONSUMER SCIENCES,Industrial Arts & Consumer Services,58001,518,5347,16226,0.752144,46624,...,15872,26906,3355,0.067128,30000,22900,40000,20985,20133,5248
151,152,5404,SOCIAL WORK,Psychology & Social Work,53552,374,2734,11709,0.810704,45038,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
152,153,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,21573,255,5166,52835,0.910933,17112,...,5353,10824,917,0.050862,30000,22000,40000,5443,9571,2125
153,154,6003,VISUAL AND PERFORMING ARTS,Arts,16250,132,2013,4639,0.697384,12870,...,6253,6322,1465,0.102197,30000,22000,40000,3849,7635,2840
154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,Education,14443,142,1936,7692,0.798920,13076,...,2214,8457,496,0.036546,30000,24000,37000,10766,1949,722
155,156,5299,MISCELLANEOUS PSYCHOLOGY,Psychology & Social Work,9628,60,885,8489,0.905590,7653,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,9374,89,5137,48415,0.904075,8294,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
157,158,3402,HUMANITIES,Humanities & Liberal Arts,6652,49,4133,12117,0.745662,5052,...,2225,2661,372,0.068584,30000,20000,49000,1168,3354,1141
158,159,4901,THEOLOGY AND RELIGIOUS VOCATIONS,Humanities & Liberal Arts,30207,310,404,1084,0.728495,24202,...,8767,13944,1617,0.062628,29000,22000,38000,9927,12037,3304
159,160,6007,STUDIO ARTS,Arts,16977,182,4364,6146,0.584776,13908,...,5673,7413,1368,0.089552,29000,19200,38300,3948,8707,3586
160,161,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,10510,117,18616,11591,0.383719,8650,...,2064,5949,510,0.055677,29000,20000,36000,563,7384,3163
161,162,1199,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,1488,24,4754,12223,0.719974,1290,...,335,936,82,0.059767,29000,23000,42100,483,626,31
162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,Humanities & Liberal Arts,38844,247,1167,36422,0.968954,29633,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866
163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,38279,95,11376,27468,0.707136,29763,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125
164,165,2307,EARLY CHILDHOOD EDUCATION,Education,37589,342,1225,37054,0.967998,32551,...,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
165,166,2603,OTHER FOREIGN LANGUAGES,Humanities & Liberal Arts,11204,56,3472,7732,0.690111,7052,...,3685,3214,846,0.107116,27500,22900,38000,2326,3703,1115
166,167,6001,DRAMA AND THEATER ARTS,Arts,43249,357,7022,11931,0.629505,36165,...,15994,16891,3040,0.077541,27000,19200,35000,6994,25313,11068
167,168,3302,COMPOSITION AND RHETORIC,Humanities & Liberal Arts,18953,151,14440,28809,0.666119,15053,...,6612,7832,1340,0.081742,27000,20000,35000,4855,8100,3466
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [19]:
recent_grads[["Low_wage_jobs", "Total"]]

     Low_wage_jobs   Total
0              193    2339
1               50     756
2                0     856
3                0    1258
4              972   32260
5              244    2573
6              259    3777
7              220    1792
8             3253   91227
9             3170   81527
10             980   41542
11             372   15058
12             789   14955
13              81    4279
14             263    4321
15             524    8925
16             640   18968
17            3192   61152
18             137    2825
19             144    1148
20            5144  128319
21             485    4361
22             696   11565
23              70    2993
24             708   18713
25            2899   53153
26             703   18498
27             285   11732
28             365    9133
29             340    5978
..             ...     ...
143           1231    7416
144            591    6483
145          48207  393735
146           9286   60633
147           2042   28213
148           3426   21030
149          11880   74440
150           5248   58001
151           4344   53552
152           2125   21573
153           2840   16250
154            722   14443
155           1650    9628
156            724    9374
157           1141    6652
158           3304   30207
159           3586   16977
160           3163   10510
161             31    1488
162           6866   38844
163           5125   38279
164           2868   37589
165           1115   11204
166          11068   43249
167           3466   18953
168            743    8409
169             82    2854
170            622    2838
171            308    4626
172            192    1098

[173 rows x 2 columns]

We want the perentage on the total for all the observations:

In [20]:
recent_grads["Low_wage_jobs"].sum()/recent_grads["Total"].sum()

0.09852546076122913

In [23]:
all_age = pd.read_csv("dati\\all_age.csv")

In [24]:
all_age

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000
5,1105,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,79409,63043,51077,2070,0.031791,50000,35000,75000
6,1106,SOIL SCIENCE,Agriculture & Natural Resources,6586,4926,4042,264,0.050867,63000,39400,88000
7,1199,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,8549,6392,5074,261,0.039230,52000,35000,75000
8,1301,ENVIRONMENTAL SCIENCE,Biology & Life Science,106106,87602,65238,4736,0.051290,52000,38000,75000
9,1302,FORESTRY,Agriculture & Natural Resources,69447,48228,39613,2144,0.042563,58000,40500,80000
10,1303,NATURAL RESOURCES MANAGEMENT,Agriculture & Natural Resources,83188,65937,50595,3789,0.054341,52000,37100,75000
11,1401,ARCHITECTURE,Engineering,294692,216770,163020,20394,0.085991,63000,40400,93500
12,1501,AREA ETHNIC AND CIVILIZATION STUDIES,Humanities & Liberal Arts,103740,75798,50530,5525,0.067939,46000,32000,71000
13,1901,COMMUNICATIONS,Communications & Journalism,987676,790696,595739,54390,0.064360,50000,35000,80000
14,1902,JOURNALISM,Communications & Journalism,418104,314438,235407,20754,0.061917,50000,35000,80000
15,1903,MASS MEDIA,Communications & Journalism,211213,170474,125489,15431,0.083005,48000,32000,70000
16,1904,ADVERTISING AND PUBLIC RELATIONS,Communications & Journalism,186829,147433,111552,10624,0.067216,50000,34000,75000
17,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,62141,49609,37261,4609,0.085009,50000,34500,75000
18,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics,253782,218248,189950,11945,0.051891,65000,45000,90000
19,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics,29317,22828,18747,2265,0.090264,60000,40000,85000
20,2102,COMPUTER SCIENCE,Computers & Mathematics,783292,656372,561052,34196,0.049519,78000,51000,105000
21,2105,INFORMATION SCIENCES,Computers & Mathematics,77805,66393,57604,3704,0.052841,68000,46200,95000
22,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics,39362,32366,28156,2626,0.075046,55000,40000,80000
23,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics,51771,44071,35954,2748,0.058694,55000,36000,80000
24,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,42325,33388,25780,1941,0.054941,40000,26200,60000
25,2300,GENERAL EDUCATION,Education,1438867,843693,591863,38742,0.043904,43000,32000,59000
26,2301,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,4037,3113,2468,0,0.000000,58000,44750,79000
27,2303,SCHOOL STUDENT COUNSELING,Education,2396,1492,1093,169,0.101746,41000,33200,50000
28,2304,ELEMENTARY EDUCATION,Education,1446701,819393,501786,32685,0.038359,40000,31000,50000
29,2305,MATHEMATICS TEACHER EDUCATION,Education,68808,47203,29494,1610,0.032983,43000,34000,60000
...,...,...,...,...,...,...,...,...,...,...,...
143,6005,FILM VIDEO AND PHOTOGRAPHIC ARTS,Arts,133508,107651,69303,10080,0.085619,47000,30000,70000
144,6006,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,90852,61295,38989,4185,0.063913,44500,30000,70000
145,6007,STUDIO ARTS,Arts,81008,58799,36943,5372,0.083714,37600,24900,58000
146,6099,MISCELLANEOUS FINE ARTS,Arts,8511,6431,3802,1190,0.156147,45000,30000,60000
147,6100,GENERAL MEDICAL AND HEALTH SERVICES,Health,104516,78198,53746,4525,0.054701,50000,35000,73000
148,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,74977,49393,26085,2407,0.046467,42000,30000,60000
149,6103,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,Health,108510,85360,67294,5160,0.057004,50000,35000,75000
150,6104,MEDICAL ASSISTING SERVICES,Health,64316,51279,25118,1660,0.031357,55000,37000,75000
151,6105,MEDICAL TECHNOLOGIES TECHNICIANS,Health,164990,121479,92128,4564,0.036210,60000,45000,76000
152,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,Health,32514,19009,13147,1431,0.070010,50000,34000,85000
153,6107,NURSING,Health,1769892,1325711,947546,36503,0.026797,62000,48000,80000
154,6108,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,Health,180084,124058,89234,4414,0.034358,106000,78000,125000
155,6109,TREATMENT THERAPY PROFESSIONS,Health,252138,199174,128115,5378,0.026292,61000,40000,80000
156,6110,COMMUNITY AND PUBLIC HEALTH,Health,56741,42543,28912,3032,0.066528,47000,32800,70000
157,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,Health,77647,52610,35676,2978,0.053573,45000,32000,62000
158,6200,GENERAL BUSINESS,Business,2148712,1580978,1304646,85626,0.051378,60000,40000,95000
159,6201,ACCOUNTING,Business,1779219,1335825,1095027,75379,0.053415,65000,42500,100000
160,6202,ACTUARIAL SCIENCE,Business,9763,7846,6880,466,0.056064,72000,53000,115000
161,6203,BUSINESS MANAGEMENT AND ADMINISTRATION,Business,3123510,2354398,1939384,147261,0.058865,58000,39500,86000
162,6204,OPERATIONS LOGISTICS AND E-COMMERCE,Business,57200,47341,41104,2141,0.043268,65000,45000,90000
163,6205,BUSINESS ECONOMICS,Business,75547,57983,48471,3816,0.061749,65000,45000,100000
164,6206,MARKETING AND MARKETING RESEARCH,Business,1114624,890125,704912,51839,0.055033,56000,38500,90000
165,6207,FINANCE,Business,816548,670681,561073,34166,0.048473,65000,45000,100000
166,6209,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,Business,187274,142879,116466,9241,0.060748,54000,38000,80000
167,6210,INTERNATIONAL BUSINESS,Business,86064,66453,51012,5106,0.071354,54000,38600,80000
168,6211,HOSPITALITY MANAGEMENT,Business,200854,163393,122499,8862,0.051447,49000,33000,70000
169,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,156673,134478,118249,6186,0.043977,72000,50000,100000
170,6299,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business,102753,77471,61603,4308,0.052679,53000,36000,83000
171,6402,HISTORY,Humanities & Liberal Arts,712509,478416,354163,33725,0.065851,50000,35000,80000
172,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,17746,11887,8204,943,0.073500,50000,39000,81000

In [29]:
recent_grads.loc[0, "Unemployment_rate"]

0.018380527000000001