In this mission and the next, we're going to dive into some of Pandas' internals to better understand how Pandas does things under the hood.

The three key data structures in Pandas are:

•Series (collection of values)

•DataFrame (collection of Series objects)

•Panel (collection of DataFrame objects)

and we'll be focusing on the Series object in this mission.

Series objects use NumPy arrays for fast computation, but build on them by adding valuable features for analyzing data. For example, while NumPy arrays utilize an integer index, Series objects can utilize other index types, like a string index. Series objects also allow for mixed data types and utilize the NaN Python value for handling missing values.

A Series object can hold many data types, including:

•float - for representing float values

•int - for representing integer values

•bool - for representing Boolean values

•datetime64[ns] - for representing date & time, without time-zone

•datetime64[ns, tz] - for representing date & time, with time-zone

•timedelta[ns] - for representing differences in dates & times (seconds, minutes, etc.)

•category - for representing categorical values

•object - for representing String values

In [2]:
import pandas as pd
fandango = pd.read_csv("dati\\fandango_score_comparison.csv")
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

DataFrames use Series objects to represent the columns in the data. When you select a single column from a DataFrame, Pandas will return the Series object representing that column. Each individual Series object in a DataFrame is indexed using the integer data type by default. Each value in the Series has a unique integer index, or position. The integer index is 0-indexed, like most Python data structures, and ranges from 0 to n-1, where n is the number of rows. With an integer index, you can select an individual value in the Series if you know it's position as well as select multiple values by passing in a list of index values (similar to a NumPy array). 

For both NumPy arrays and Series objects, you can utilize integer index by using bracket notation to slice and select values. Where Series objects diverge from NumPy arrays, however, is the ability to specify a custom index for the values.

In [4]:
fandango.columns

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [6]:
series_film = fandango["FILM"]
series_film.head()

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [4]:
series_rt = fandango["RottenTomatoes"]
series_rt.head()

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

We want a new index to find the score for every film  with the index equal to the name of the film and value of the series (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html#pandas.Series) equal to the score:

In [7]:
from pandas import Series
series_custom = Series(data = series_rt.values, index = series_film.values)
series_custom

Avengers: Age of Ultron (2015)                     74
Cinderella (2015)                                  85
Ant-Man (2015)                                     80
Do You Believe? (2015)                             18
Hot Tub Time Machine 2 (2015)                      14
The Water Diviner (2015)                           63
Irrational Man (2015)                              42
Top Five (2014)                                    86
Shaun the Sheep Movie (2015)                       99
Love & Mercy (2015)                                89
Far From The Madding Crowd (2015)                  84
Black Sea (2015)                                   82
Leviathan (2014)                                   99
Unbroken (2014)                                    51
The Imitation Game (2014)                          90
Taken 3 (2015)                                      9
Ted 2 (2015)                                       46
Southpaw (2015)                                    59
Night at the Museum: Secret of the Tomb (2014)     50
Pixels (2015)                                      17
McFarland, USA (2015)                              79
Insidious: Chapter 3 (2015)                        59
The Man From U.N.C.L.E. (2015)                     68
Run All Night (2015)                               60
Trainwreck (2015)                                  85
Selma (2014)                                       99
Ex Machina (2015)                                  92
Still Alice (2015)                                 88
Wild Tales (2014)                                  96
The End of the Tour (2015)                         92
                                                 ...
Clouds of Sils Maria (2015)                        89
Testament of Youth (2015)                          81
Infinitely Polar Bear (2015)                       80
Phoenix (2015)                                     99
The Wolfpack (2015)                                84
The Stanford Prison Experiment (2015)              84
Tangerine (2015)                                   95
Magic Mike XXL (2015)                              62
Home (2015)                                        45
The Wedding Ringer (2015)                          27
Woman in Gold (2015)                               52
The Last Five Years (2015)                         60
Mission: Impossible â€“ Rogue Nation (2015)        92
Amy (2015)                                         97
Jurassic World (2015)                              71
Minions (2015)                                     54
Max (2015)                                         35
Paul Blart: Mall Cop 2 (2015)                       5
The Longest Ride (2015)                            31
The Lazarus Effect (2015)                          14
The Woman In Black 2 Angel of Death (2015)         22
Danny Collins (2015)                               77
Spare Parts (2015)                                 52
Serena (2015)                                      18
Inside Out (2015)                                  98
Mr. Holmes (2015)                                  87
'71 (2015)                                         97
Two Days, One Night (2014)                         97
Gett: The Trial of Viviane Amsalem (2015)         100
Kumiko, The Treasure Hunter (2015)                 87
dtype: int64

In [19]:
series_custom["Inside Out (2015)"]

98

In [21]:
series_custom[['Minions (2015)', 'Leviathan (2014)']]

Minions (2015)      54
Leviathan (2014)    99
dtype: int64

In [27]:
series_custom[5]

63

In [30]:
# .loc use the index, while [index] use the automatic index
series_film[5]
series_film.loc[5]

'The Water Diviner (2015)'

Reindexing is the Pandas way of modifying the alignment between labels (index) and the data (values). The reindex() method allows you to specify an alternate ordering of the labels (index) for a Series object. This method takes in a list of strings corresponding to the order of labels you'd like for that Series object. 

We can use the reindex() method to sort series_custom in alphabetical order by film. To accomplish this, we need to:

•return a list representation of the current index using tolist()

•sort the index using sorted()

•use reindex() to set the new ordered index

In [31]:
original_index = series_custom.index.tolist()

In [32]:
original_index

['Avengers: Age of Ultron (2015)',
 'Cinderella (2015)',
 'Ant-Man (2015)',
 'Do You Believe? (2015)',
 'Hot Tub Time Machine 2 (2015)',
 'The Water Diviner (2015)',
 'Irrational Man (2015)',
 'Top Five (2014)',
 'Shaun the Sheep Movie (2015)',
 'Love & Mercy (2015)',
 'Far From The Madding Crowd (2015)',
 'Black Sea (2015)',
 'Leviathan (2014)',
 'Unbroken (2014)',
 'The Imitation Game (2014)',
 'Taken 3 (2015)',
 'Ted 2 (2015)',
 'Southpaw (2015)',
 'Night at the Museum: Secret of the Tomb (2014)',
 'Pixels (2015)',
 'McFarland, USA (2015)',
 'Insidious: Chapter 3 (2015)',
 'The Man From U.N.C.L.E. (2015)',
 'Run All Night (2015)',
 'Trainwreck (2015)',
 'Selma (2014)',
 'Ex Machina (2015)',
 'Still Alice (2015)',
 'Wild Tales (2014)',
 'The End of the Tour (2015)',
 'Red Army (2015)',
 'When Marnie Was There (2015)',
 'The Hunting Ground (2015)',
 'The Boy Next Door (2015)',
 'Aloha (2015)',
 'The Loft (2015)',
 '5 Flights Up (2015)',
 'Welcome to Me (2015)',
 'Saint Laurent (2015)',
 'Maps to the Stars (2015)',
 "I'll See You In My Dreams (2015)",
 'Timbuktu (2015)',
 'About Elly (2015)',
 'The Diary of a Teenage Girl (2015)',
 'Kingsman: The Secret Service (2015)',
 'Tomorrowland (2015)',
 'The Divergent Series: Insurgent (2015)',
 'Annie (2014)',
 'Fantastic Four (2015)',
 'Terminator Genisys (2015)',
 'Pitch Perfect 2 (2015)',
 'Entourage (2015)',
 'The Age of Adaline (2015)',
 'Hot Pursuit (2015)',
 'The DUFF (2015)',
 'Black or White (2015)',
 'Project Almanac (2015)',
 'Ricki and the Flash (2015)',
 'Seventh Son (2015)',
 'Mortdecai (2015)',
 'Unfinished Business (2015)',
 'American Ultra (2015)',
 'True Story (2015)',
 'Child 44 (2015)',
 'Dark Places (2015)',
 'Birdman (2014)',
 'The Gift (2015)',
 'Unfriended (2015)',
 'Monkey Kingdom (2015)',
 'Mr. Turner (2014)',
 'Seymour: An Introduction (2015)',
 'The Wrecking Crew (2015)',
 'American Sniper (2015)',
 'Furious 7 (2015)',
 'The Hobbit: The Battle of the Five Armies (2014)',
 'San Andreas (2015)',
 'Straight Outta Compton (2015)',
 'Vacation (2015)',
 'Chappie (2015)',
 'Poltergeist (2015)',
 'Paper Towns (2015)',
 'Big Eyes (2014)',
 'Blackhat (2015)',
 'Self/less (2015)',
 'Sinister 2 (2015)',
 'Little Boy (2015)',
 'Me and Earl and The Dying Girl (2015)',
 'Maggie (2015)',
 'Mad Max: Fury Road (2015)',
 'Spy (2015)',
 'The SpongeBob Movie: Sponge Out of Water (2015)',
 'Paddington (2015)',
 'Dope (2015)',
 'What We Do in the Shadows (2015)',
 'The Overnight (2015)',
 'The Salt of the Earth (2015)',
 'Song of the Sea (2014)',
 'Fifty Shades of Grey (2015)',
 'Get Hard (2015)',
 'Focus (2015)',
 'Jupiter Ascending (2015)',
 'The Gallows (2015)',
 'The Second Best Exotic Marigold Hotel (2015)',
 'Strange Magic (2015)',
 'The Gunman (2015)',
 'Hitman: Agent 47 (2015)',
 'Cake (2015)',
 'The Vatican Tapes (2015)',
 'A Little Chaos (2015)',
 'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)',
 'Escobar: Paradise Lost (2015)',
 'Into the Woods (2014)',
 'It Follows (2015)',
 'Inherent Vice (2014)',
 'A Most Violent Year (2014)',
 "While We're Young (2015)",
 'Clouds of Sils Maria (2015)',
 'Testament of Youth (2015)',
 'Infinitely Polar Bear (2015)',
 'Phoenix (2015)',
 'The Wolfpack (2015)',
 'The Stanford Prison Experiment (2015)',
 'Tangerine (2015)',
 'Magic Mike XXL (2015)',
 'Home (2015)',
 'The Wedding Ringer (2015)',
 'Woman in Gold (2015)',
 'The Last Five Years (2015)',
 'Mission: Impossible â€“ Rogue Nation (2015)',
 'Amy (2015)',
 'Jurassic World (2015)',
 'Minions (2015)',
 'Max (2015)',
 'Paul Blart: Mall Cop 2 (2015)',
 'The Longest Ride (2015)',
 'The Lazarus Effect (2015)',
 'The Woman In Black 2 Angel of Death (2015)',
 'Danny Collins (2015)',
 'Spare Parts (2015)',
 'Serena (2015)',
 'Inside Out (2015)',
 'Mr. Holmes (2015)',
 "'71 (2015)",
 'Two Days, One Night (2014)',
 'Gett: The Trial of Viviane Amsalem (2015)',
 'Kumiko, The Treasure Hunter (2015)']

In [38]:
original_index = sorted(original_index)
sorted_series_custom = series_custom.reindex(original_index)

To make sorting easier, Pandas comes with a sort_index() method, which returns a Series sorted by the index, and a sort_values() method method, which returns a Series sorted by the values. Since the values representing the Rotten Tomatoes scores are integers, sorting by values will sort in numerically ascending order (low to high) in our case.

In both cases, the link between each element's index (film name) and value (score) is preserved. This is known as data alignment and is a key tenet of Pandas that is incredibly important when analyzing data. Unless we specifically change a value or an index, Pandas allows us to assume the linking will be preserved.

In [44]:
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()
print(sc2.head(10))
print(sc3.head(10))

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64
Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

Since Pandas builds on top of NumPy, it takes advantage of NumPy's vectorizaton capabilities which generates incredibly optimized. You can use any of the standard Python arithmetic operators (+, -, *, and /) to transform every value in a Series object.

In [45]:
series_normalized = (series_custom/100)*5

Pandas utilizes vectorized operations everywhere, including when filtering values within a single Series object or comparing 2 different Series objects.

To help make it easy to separate complex comparison and filtering logic into modular pieces, Pandas returns Boolean Series objects as the intermediate representation of the logic. We can specify filtering criteria in different variables and chain them together using the & operator, which represents and, as well as the | operator, representing or. Finally, we can utilize a Series object's bracket notation to pass in an expression representing a Boolean Series object to get back the filtered dataset.

In [59]:
series_custom[series_custom > 50]

Avengers: Age of Ultron (2015)                                             74
Cinderella (2015)                                                          85
Ant-Man (2015)                                                             80
The Water Diviner (2015)                                                   63
Top Five (2014)                                                            86
Shaun the Sheep Movie (2015)                                               99
Love & Mercy (2015)                                                        89
Far From The Madding Crowd (2015)                                          84
Black Sea (2015)                                                           82
Leviathan (2014)                                                           99
Unbroken (2014)                                                            51
The Imitation Game (2014)                                                  90
Southpaw (2015)                                                            59
McFarland, USA (2015)                                                      79
Insidious: Chapter 3 (2015)                                                59
The Man From U.N.C.L.E. (2015)                                             68
Run All Night (2015)                                                       60
Trainwreck (2015)                                                          85
Selma (2014)                                                               99
Ex Machina (2015)                                                          92
Still Alice (2015)                                                         88
Wild Tales (2014)                                                          96
The End of the Tour (2015)                                                 92
Red Army (2015)                                                            96
When Marnie Was There (2015)                                               89
The Hunting Ground (2015)                                                  92
5 Flights Up (2015)                                                        52
Welcome to Me (2015)                                                       71
Saint Laurent (2015)                                                       51
Maps to the Stars (2015)                                                   60
                                                                         ...
The Second Best Exotic Marigold Hotel (2015)                               62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)     67
Escobar: Paradise Lost (2015)                                              52
Into the Woods (2014)                                                      71
It Follows (2015)                                                          96
Inherent Vice (2014)                                                       73
A Most Violent Year (2014)                                                 90
While We're Young (2015)                                                   83
Clouds of Sils Maria (2015)                                                89
Testament of Youth (2015)                                                  81
Infinitely Polar Bear (2015)                                               80
Phoenix (2015)                                                             99
The Wolfpack (2015)                                                        84
The Stanford Prison Experiment (2015)                                      84
Tangerine (2015)                                                           95
Magic Mike XXL (2015)                                                      62
Woman in Gold (2015)                                                       52
The Last Five Years (2015)                                                 60
Mission: Impossible â€“ Rogue Nation (2015)                                92
Amy (2015)                                                                 97
Jurassic World (2015)                                                      71
Minions (2015)                                                             54
Danny Collins (2015)                                                       77
Spare Parts (2015)                                                         52
Inside Out (2015)                                                          98
Mr. Holmes (2015)                                                          87
'71 (2015)                                                                 97
Two Days, One Night (2014)                                                 97
Gett: The Trial of Viviane Amsalem (2015)                                 100
Kumiko, The Treasure Hunter (2015)                                         87
dtype: int64

One of the core tenets of Pandas is data alignment. Series objects align along indices and DataFrame objects align along both indices and columns. This means that for Series objects, the link between the index labels and the actual values is implicitly preserved across operations and transformations unless we explicitly break the link. This core tenet allows us to use Pandas effectively when working with data and is a big advantages over just using NumPy objects. For Series objects in particular, this means we can use the standard Python arithmetic operators (+, -, *, and /) to add, subtract, multiple, and divide the values at each index label for 2 different Series objects.

In [8]:
# vote critics, users and mean between the two of them
rt_critics = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index=fandango['FILM'])
rt_mean = (rt_critics + rt_users)/2

In [9]:
rt_mean.head

<bound method NDFrame.head of FILM
Avengers: Age of Ultron (2015)                    80.0
Cinderella (2015)                                 82.5
Ant-Man (2015)                                    85.0
Do You Believe? (2015)                            51.0
Hot Tub Time Machine 2 (2015)                     21.0
The Water Diviner (2015)                          62.5
Irrational Man (2015)                             47.5
Top Five (2014)                                   75.0
Shaun the Sheep Movie (2015)                      90.5
Love & Mercy (2015)                               88.0
Far From The Madding Crowd (2015)                 80.5
Black Sea (2015)                                  71.0
Leviathan (2014)                                  89.0
Unbroken (2014)                                   60.5
The Imitation Game (2014)                         91.0
Taken 3 (2015)                                    27.5
Ted 2 (2015)                                      52.0
Southpaw (2015)                                   69.5
Night at the Museum: Secret of the Tomb (2014)    54.0
Pixels (2015)                                     35.5
McFarland, USA (2015)                             84.0
Insidious: Chapter 3 (2015)                       57.5
The Man From U.N.C.L.E. (2015)                    74.0
Run All Night (2015)                              59.5
Trainwreck (2015)                                 79.5
Selma (2014)                                      92.5
Ex Machina (2015)                                 89.0
Still Alice (2015)                                86.5
Wild Tales (2014)                                 94.0
The End of the Tour (2015)                        90.5
                                                  ...
Clouds of Sils Maria (2015)                       78.0
Testament of Youth (2015)                         80.0
Infinitely Polar Bear (2015)                      78.0
Phoenix (2015)                                    90.0
The Wolfpack (2015)                               78.5
The Stanford Prison Experiment (2015)             85.5
Tangerine (2015)                                  90.5
Magic Mike XXL (2015)                             63.0
Home (2015)                                       55.0
The Wedding Ringer (2015)                         46.5
Woman in Gold (2015)                              66.5
The Last Five Years (2015)                        60.0
Mission: Impossible â€“ Rogue Nation (2015)       91.0
Amy (2015)                                        94.0
Jurassic World (2015)                             76.0
Minions (2015)                                    53.0
Max (2015)                                        54.0
Paul Blart: Mall Cop 2 (2015)                     20.5
The Longest Ride (2015)                           52.0
The Lazarus Effect (2015)                         18.5
The Woman In Black 2 Angel of Death (2015)        23.5
Danny Collins (2015)                              76.0
Spare Parts (2015)                                67.5
Serena (2015)                                     21.5
Inside Out (2015)                                 94.0
Mr. Holmes (2015)                                 82.5
'71 (2015)                                        89.5
Two Days, One Night (2014)                        87.5
Gett: The Trial of Viviane Amsalem (2015)         90.5
Kumiko, The Treasure Hunter (2015)                75.0
dtype: float64>